<div class="form-container">
  <h2>New material</h2>

  <form novalidate ref:form on:submit="handleSubmit(event)">
    <fieldset>
      <label for="uriField">URI</label>
      <input id="uriField" type="text" bind:value="uri" />

      <label for="titleField">Title</label>
      <input id="titleField" type="text" bind:value="title" />

      <label for="typeField">File-type</label>
      <input id="typeField" type="text" bind:value="type" />

      <label for="notesField">Notes</label>
      <input id="notesField" type="text" bind:value="notes" />

      <br />
      <input type="submit" value="Save" class="button" ref:submit />
      <input type="reset" value="Cancel" class="button button-outline" on:click="$set({showNewMaterialForm: false})" />
      {#if error} <br />
      <span class="error">{error}</span> {/if}
    </fieldset>
  </form>
</div>

<style>
  .error {
    color: red;
  }

  .form-container {
    padding: 2rem;
    margin-bottom: 2rem;
    border: 1px solid #eeeeee;
  }

  form,
  fieldset {
    padding: 0;
    margin: 0;
  }
</style>

<script>
  import client from "../utils/feathers.js";

  export default {
    data() {
      return {
        uri: "",
        title: "",
        type: "",
        notes: "",
        error: ""
      };
    },
    methods: {
      handleSubmit(event) {
        event.preventDefault();
        const isValid = this.refs.form.checkValidity();
        if (!isValid) return;
        this.refs.submit.disabled = true;
        const { uri, title, type, notes } = this.get();
        client
          .service("materials")
          .create({ uri, title, type, notes })
          .then(() => {
            this.set({ error: "", uri: "", title: "", type: "", notes: "" });
            this.refs && (this.refs.submit.disabled = false);
            this.store.set({ showNewMaterialForm: false });
          })
          .catch(error => {
            this.refs && (this.refs.submit.disabled = false);
            this.set({ error: error.message });
          });
      }
    }
  };
</script>