<div class="audioplayer">
  <audio bind:currentTime=t bind:duration=d bind:paused ref:player>
    <source type={audio.type} src={audio.uri}>
  </audio>
  <i on:click='set({ paused: !paused })' class="material-icons playpause">
    {#if paused}
    play_arrow
    {:else}
    pause
    {/if}
  </i>&nbsp;
  <span class='time elapsed'>{format(t)}</span>/<span class='time duration'>{format(d)}</span>
  <input class="range" type="range" id="seek" max=100 min=0 value={p * 100} on:input="seek(event)" />
</div>

<style>
  .audioplayer {
    display: flex;
    align-items: center;
  }

  .range {
    -webkit-appearance: none;
    height: 1rem;
    width: 180px;
    background: var(--primary-color);
    cursor: pointer;
    margin: 1rem;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    background: grey;
    cursor: pointer;
    border-radius: 0;
  }

  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    background: grey;
    cursor: pointer;
    border-radius: 0;
  }

  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    background: grey;
    cursor: pointer;
    border-radius: 0;
  }

  .playpause {
    padding: 0.5rem;
    cursor: pointer;
  }

  .time {
    vertical-align: middle;
  }
</style>

<script>
  function pad(num) {
    return num < 10 ? '0' + num : num;
  }
  export default {
    oncreate() {
      const plr = this.refs.player
      this.plrended = plr.addEventListener('ended', () => { this.set({ t: 0 }) })
    },
    ondestroy() {
      this.refs.player.removeEventListener('ended', this.plrended)
    },
    data() {
      return {
        paused: true,
        t: 0,
        d: 0,
        p: 0
      }
    },
    helpers: {
      format: time => {
        if (isNaN(time)) return '--:--.-';
        var minutes = Math.floor(time / 60);
        var seconds = (time % 60).toFixed();
        return minutes + ':' + pad(seconds)
      }
    },
    computed: {
      p: ({ t, d }) => d ? t / d : 0
    },
    methods: {
      seek(event) {
        const { paused } = this.get()
        this.set({ paused: true })
        const p = event.target.value
        this.set({ t: p / 100 * this.get().d, paused });

      }
    }
  }
</script>