<div>
  {#if !confirm}
  <span class="bigger" on:click="set({confirm:true})">&times;</span>
  {:else}
  <span on:click="set({confirm:false})">Cancel</span>
  &nbsp;/&nbsp;
  <span on:click="handleDelete(group)">Confirm delete</span>
  {/if}
</div>

<style>
  div {
    margin-left: 3rem;
    font-size: 1.5rem;
  }

  .bigger {
    font-size: 2rem;
  }

  span {
    cursor: pointer;
  }
</style>

<script>
  import client from '../utils/feathers.js'
  export default {
    data() {
      return {
        confirm: false
      }
    },
    methods: {
      handleDelete(group) {
        const { groups } = this.store.get()
        client.service("groups").remove(group).then(deleted => {
          const newGroups = groups.filter(g => g._id !== group)
          this.store.set({ groups: newGroups })
        })
      }
    }
  }
</script>