<div class="form-container">
  <h2>Add lesson summary</h2>

  <form novalidate ref:form on:submit="handleSubmit(event)">
    <fieldset>
      <label for="numberField">Lesson number</label>
      <input type="number" bind:value=number />

      <label for="dateField">Lesson date</label>
      <input id="dateField" type="date" bind:value=date />

      <label for="group-select">Class</label>
      <select id="group-select" bind:value=group required>
        <option value=''></option>
        {#each $groups as group}
        <option value={group._id}>{group.name}</option>
        {/each}
      </select>

      <label for="summaryENField">Lesson summary (English)</label>
      <textarea rows="15" bind:value=summary_EN />

      <label for="summaryZHField">Lesson summary (Chinese)</label>
      <textarea rows="15" bind:value=summary_ZH />
      <br>
      <input type="submit" value="Save" class="button" ref:submit />
      <input type="reset" value="Cancel" class="button button-outline" on:click="$set({showLessonSummaryForm: false})" />
      {#if error}
      <br>
      <span class="error">{error}</span>
      {/if}
    </fieldset>
  </form>
</div>

<style>
  select {
    max-width: 40rem;
  }
  textarea {
    height: auto;
  }

  .error {
    color: red;
  }

  .form-container {
    padding: 2rem;
    border: 1px solid #eeeeee;
  }

  form,
  fieldset {
    padding: 0;
    margin: 0;
  }
</style>

<script>
  import client from '../utils/feathers.js'
  import { goto } from "../../__sapper__/client.js";

  export default {
    data() {
      return {
        group: '',
        error: '',
        date: '',
        number: '',
        summary_EN: '',
        summary_ZH: '',
      }
    },
    computed: {
      groupName: ({ group, $groups }) => {
        if (!group || !$groups.length) return
        const thisgroup = $groups.find(one => one._id === group)
        if (thisgroup) {
          return thisgroup.name
        }
      }
    },
    methods: {
      goto,
      handleSubmit(event) {
        event.preventDefault()
        const isValid = this.refs.form.checkValidity()
        if (!isValid) return
        this.refs.submit.disabled = true
        const { number, date, summary_EN, summary_ZH, groupName } = this.get()
        const group = this.get().group || null
        client
          .service("lessons")
          .create({ group, number, date, summary_EN, summary_ZH })
          .then(() => {
            this.set({ error: '', show: false, group: '', number: '', date: '', summary_EN: '', summary_ZH: '' })
            this.refs && (this.refs.submit.disabled = false)
            this.store.set({ showLessonSummaryForm: false })
            this.goto(`/classes/${groupName}`)
          })
          .catch(error => {
            this.refs && (this.refs.submit.disabled = false)
            this.set({ error: error.message })
          })
      }
    }
  }
</script>