<script>
  import client from "../utils/feathers";
  export default {
    oncreate() {
      const { group } = this.get();
      this.sublessons = client
        .service("lessons")
        .watch()
        .find({ query: { group: group._id, $sort: { number: -1 } } })
        .subscribe(lessons => this.store.set({ lessons }));
    },
    ondestroy() {
      this.sublessons.unsubscribe
    },
    methods: {
      sorter() {
        return (a, b) => {
          return b.number > a.number
        }
      }
    }
  };
</script>