<!-- <label class="switch">
  <input type="checkbox" bind:checked='lesson.published' on:input="handlePublish(event)">
  <span class="slider round">{#if lesson.published}Published{:else}Not published{/if}</span>
</label> -->
{#if lesson.published}
<i class="material-icons" on:click="handlePublish(false)">check_box</i>
{:else}
<i class="material-icons" on:click="handlePublish(true)">check_box_outline_blank</i>
{/if}

<style>
  i {
    padding: 1rem;
    cursor: pointer;
  }
</style>
<script>
  import client from '../utils/feathers'
  export default {
    methods: {
      handlePublish(published) {
        const { lesson } = this.get()
        client.service('lessons').patch(lesson._id, { published })
      }
    }
  }
</script>