<div class="unit">
  {#if confirm}
  <span class="warning">Really delete?&nbsp;</span>
  <span class="but" on:click="handleDelete(lesson._id)">yes</span>
  &nbsp;/&nbsp;
  <span class="but" on:click="set({confirm:false})">no</span>
  {:else}
  <i class="material-icons" on:click="set({confirm:true})">
    delete
  </i>
  {/if}
</div>


<style>
  i {
    cursor: pointer;
  }

  .but {
    cursor: pointer;
  }

  .unit {
    padding: 1rem;
    display: flex;
    align-content: center;
  }

  .warning {
    color: red;
  }
</style>

<script>
  import client from "../utils/feathers.js";
  import { goto } from "../../__sapper__/client.js";
  export default {
    data() {
      return {
        confirm: false
      };
    },
    methods: {
      handleDelete(id) {
        const { lessons } = this.store.get();
        client
          .service("lessons")
          .remove(id)
          .then(res => {
            const newLessons = lessons.data.filter(lesson => {
              return lesson._id !== id;
            });
            this.store.set({ lessons: { data: newLessons } });
          });
      }
    }
  };
</script>