<div class="lesson-summary">
  <a href="/lessons/{lesson._id}">
    <h3>Lesson {lesson.number}</h3>
    <p>{date}</p>
  </a>

  <a class="button button-outline" href="/edit-lesson/{lesson._id}">edit</a>
  <LessonDeleteButton {lesson} />


  {@html summary_EN}

  {#if summary_ZH}
  {@html summary_ZH}
  {:else}
  <p class="error">This lesson isn't translated into Chinese.</p>
  {/if}



  {#if lesson.materials.length > 0}
  {#if !showMaterials}
  <button on:click="set({showMaterials: true})">Load materials</button>
  {:else}
  <MaterialsList {lesson} />
  {/if}
  {/if}
</div>

<style>
  .lesson-summary {
    margin: 1rem 0;
    padding: 1rem 0;
    border-top: 1px solid var(--base-color);
  }

  .error {
    color: red;
  }
</style>
<script>
  import marked from 'marked'
  export default {
    components: {
      MaterialsList: "./MaterialsList.html",
      LessonDeleteButton: "./LessonDeleteButton.html"
    },
    data() {
      return {
        showMaterials: true
      }
    },
    computed: {
      date: ({ lesson, $locale }) => {
        const lessonDate = new Date(lesson.date);
        return lessonDate.toDateString();
      },
      summary: ({ lesson }) => {
        if (lesson.summary_EN.length <= 200) return lesson.summary_EN;
        return lesson.summary_EN.replace(/^(.{200}[^\s]*).*/, "$1") + " ...";
      },
      summary_EN: ({ lesson }) => {
        if (lesson.summary_EN.length === 0) return ''
        return marked(lesson.summary_EN, { breaks: true })
      },
      summary_ZH: ({ lesson }) => {
        if (lesson.summary_ZH.length === 0) return ''
        return marked(lesson.summary_ZH, { breaks: true })
      }
    },
    methods: {
      marked
    }
  };
</script>