<div>
  <i class="material-icons">
    {#if simpletype === 'video'}
    live_tv
    {:elseif simpletype === 'audio'}
    audiotrack
    {:else}
    attachment
    {/if}
  </i>
  <a href="/material/{material._id}">
    <span>{material.title}</span>
  </a>
</div>

<style>
  div {
    display: flex;
    align-items: center;
    padding: .5rem;
    margin: .5rem;
  }

  span {
    font-size: 1em;
  }

  i {
    font-size: 3rem;
    margin-right: 0.5rem;
  }
</style>

<script>
  export default {
    computed: {
      simpletype: ({ material }) => {
        if (!material.type) return ''
        return material.type.split('/')[0]
      },
      thumbURI: ({ material, simpletype }) => {
        if (simpletype !== 'image') return ''
        const brokenuri = material.uri.split('/')
        const params = 'w_80,h_80,c_fit'
        brokenuri.splice(-2, 1, params)
        return brokenuri.join('/')
      }
    }
  }
</script>