<h4>材料</h4>
{#await materials}
<p>正在加载材料。。。</p>
{:then answer}
{#each answer.images as image (image._id)}
<MaterialsThumb {image} size=100 />
{/each}
{#each answer.others as material (material._id)}
<MaterialCard {material} />
{/each}
{:catch}
<p>加载材料失败了。</p>
{/await}

<script>
  import client from '../utils/feathers.js'
  export default {
    components: {
      MaterialCard: "./MaterialCard.html",
      MaterialsThumb: "./MaterialsThumb.html"
    },
    computed: {
      materials: async ({ lesson }) => {
        if (lesson.materials.length) {
          const res = await client.service("materials").find({ query: { _id: { $in: lesson.materials } } }).catch(error => console.log(error))
          const images = res.data.filter(thing => thing.type.split('/')[0] === 'image')
          const others = res.data.filter(thing => thing.type.split('/')[0] !== 'image')
          return { images, others }
        }
      }
    }
  }
</script>