<a href="/material/{material._id}">
  <li class="matlistitem">
    {#if simpletype === 'video'}
    <i class="material-icons">live_tv</i>
    {:elseif simpletype === 'image'}
    <i class="material-icons">image</i>
    {:elseif simpletype === 'audio'}
    <i class="material-icons">audiotrack</i>
    {:else}
    <i class="material-icons">attachment</i>
    {/if}

    <span>{material.title}</span>
  </li>
</a>


<style>
  li {
    list-style: none;
  }

  i {
    font-size: 1.8rem;
  }
</style>

<script>
  export default {
    computed: {
      simpletype: ({ material }) => {
        if (!material.type) return "";
        return material.type.split("/")[0];
      }
    }
  };
</script>