<div>
  {#if prevactive}
  <span on:click="go(-1)" class="active">&LessLess;</span>
  {:else}
  <span class="inactive">&LessLess;</span>
  {/if}

  <div class="pages">Page {page} of {totalpages}</div>
  {#if nextactive}
  <span on:click="go(+1)" class="active">&GreaterGreater;</span>
  {:else}
  <span class="inactive">&GreaterGreater;</span>
  {/if}
</div>

<style>
  .active {
    cursor: pointer;
  }

  .inactive {
    color: #333333;
  }

  span {
    padding: 1rem;
  }

  div.pages {
    display: inline-block;
    width: 12rem;
  }

  div {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }
</style>

<script>
  import { goto } from "../../__sapper__/client.js";
  export default {
    oncreate() {
      this.set({ path: this.root.options.data.path });
    },
    data() {
      return {
        total: 1,
        page: 1,
        path: "",
      };
    },
    computed: {
      totalpages: ({ total }) => Math.ceil(total / 10),
      prevactive: ({ page }) => page > 1,
      nextactive: ({ page, totalpages }) => page < totalpages
    },
    methods: {
      go(x) {
        const { path, page } = this.get();
        const newpage = +page + x
        this.store.set({ page: newpage });
        goto(path + "?page=" + newpage);
      }
    }
  };
</script>